@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base; 
@tailwind components; 
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

html, body{
  height: 100vh;
}

*::-webkit-scrollbar {
  display: none;
}

/* Selectize */
.css-b62m3t-container .css-13cymwt-control{
  border-color: rgb(156 163 175);
  border-radius: 0.125rem; /* 2px */
  padding: 0.25rem; /* 8px */
}

.sidebar_css{
  padding: 20px;
  width: auto;
  overflow-y: scroll;
}

.profile_icon:hover .profile_icon_hidden{
  display: flex;
  flex-direction: column;
  background-color:  white;
  border-radius: 4px;
  border: 1px solid gray;
  outline: 2px solid white;
  list-style: none;
}

/* Calendar related */
.calender-current p{
  color: #000;
}
.calender-selected p{
  color: #cc0000 !important;
  font-weight: bold;
}