@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base; 
@tailwind components; 
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

html, body{
  height: 100%;
}

*::-webkit-scrollbar {
  display: none;
}

/* Selectize */
.css-b62m3t-container .css-13cymwt-control{
  border-color: rgb(156 163 175);
  border-radius: 0.125rem; /* 2px */
  padding: 0.25rem; /* 8px */
}

.sidebar_css{
  margin: 1.25rem; /* 20px */
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}